@import url(reset.css);

body {
  background-color: #FFF;
  color: #000;
  font-size: 150%;
  font-family: sans-serif;
  line-height: 1.25;
  margin: 1em;
  word-wrap: break-word;
}

a {
  color: #00E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #528;
}

a.img {
  color: #CCC;
  text-decoration: none;
}

a.external {
  background: url(../media/link_external.png) right center no-repeat;
  padding-right: 12px;
}

a.mailto {
  background: url(../media/link_mailto.png) right center no-repeat;
  padding-right: 12px;
}

#header a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: .8em;
}

#navigation {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  position: absolute;
  top: 0;
  right: 10px;
  letter-spacing: .25em;
}

#navigation a {
  color: #000;
  opacity: .2;
}

#navigation a:hover {
  opacity: .75;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: .5em 0 .75em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  margin: .5em 0 .75em;
  text-align: center;
}

h3 {
  font-weight: bold;
  margin: 1em 0 -0.5em;
}

a.anchor {
  position: absolute;
  left: .25em;
  padding-right: .5em;
  font-size: .9em;
  vertical-align: middle;
  opacity: .2;
  color: inherit;
  visibility: hidden;
}

p a.anchor {
  opacity: .1;  
}

a.anchor:after {
  content: '¶';
}

a.anchor:hover {
  opacity: .4;
}

a.anchor:hover,
div:hover>a.anchor,
h3:hover>a.anchor,
p:hover>a.anchor {
  visibility: visible;
}

div {
  margin: 1em 0;
}

div.next-page {
  text-align: center;
}

ul, ol {
  margin: .5em 0;
  padding-left: 1em;
  text-align: justify;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol ol,
ol ul,
ul ul,
ul ol {
  margin: 0;
}

p {
  margin: .75em 0 .5em;
  text-align: justify;
}

p.note {
  font-size: .85em;
}

.img-wrapper {
  margin-top: 0.5em;
  text-align: center;
}

img, video {
  max-width: 100%;
  height: auto;
}

img.framed {
  border: 1px solid #CCF;
}

img.framed.anim {
  border: 2px dotted #CCF;
}

table {
  font-size: .8em;
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table th {
  border: 1px solid black;
  border-bottom: 2px solid black;
  background: #EEF;
  padding: .5em;
  font-weight: bold;
}

table td {
  border: 1px solid black;
  padding: .5em;
  text-align: center;
}

dl {
}

dt {
  margin-top: 1em;
  font-weight: bold;
}

dd {
  margin-left: 2em;
  margin-top: .25em;
}

kbd {
  background-color: #f9f9f9;
  background-image: linear-gradient(180deg, #eee, #f9f9f9, #eee);
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  font-family: inherit;
  font-size: 0.85em;
  padding: 0.1em 0.3em;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

code.block {
  display: block;
  margin-left: 3em;
  margin-right: 3em;
  background-color: #EEE;
  padding: .5em;
  text-align: left;
}

.next-page {
  font-style: italic;
  margin-top: 2em;
}

#repo-link {
  font-size: .75em;
  margin: 0;
  text-align: right;
}

#repo-link a {
  opacity: .5;
}

#repo-link a:hover {
  opacity: 1;
}

#repo-link span {
  background: url(../media/repo.png);
  display: inline-block;
  height: 20px;
  width: 15px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 2px;
  opacity: .5;
}

#share {
  text-align: right;
  overflow: hidden;
  margin-top: .5em;
  padding-top: .5em;
  border-top: 1px dotted #99F;
}

#share span {
  background: url(../media/social_sprites.png);
  display: inline-block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  vertical-align: middle;
  margin: 5px 0;
}

#share .facebook {
  background-position: -48px -48px;
}

#share .twitter {
  background-position: 0 -48px;
}

#share .gplus {
  background-position: -96px -48px;
}

#share .linkedin {
  background-position: -144px -48px;
}

#share .tumblr {
  background-position: -288px -48px;
}

#share .reddit {
  background-position: -336px -48px;
}

#share .email {
  background-position: -432px -48px;
}

.draft {
  border-left: 1px dotted #555;
  border-right: 1px dotted #555;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.tocheck:before {
  content: '*';
  color: #900;
}
