@import url(reset.css);

html {
  font-size: 1.5em;
  background-color: #fafaff;
  border: 5em solid #aac;
  border-top: none;
  border-bottom: none;
  position: relative;
}

@media (orientation: portrait) {
  html {
    border: none;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 1.4em;
  }
}

@media (max-width: 70em) {
  html {
    border-width: 4em;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 1.3em;
    border-width: 3em;
  }
}

@media (max-width: 50em) {
  html {
    border-width: 2em;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 1.2em;
    border-width: 1em;
  }
}

@media (max-width: 30em) {
  html {
    border-width: 0;
  }
}

@media (max-width: 20em) {
  html {
    font-size: 1em;
  }
  ul, ol, p {
    text-align: left !important;
  }
}

body {
  box-shadow: 0 0 11px #005;
  color: #445;
  font-family: Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 1px 1.5em;
  word-wrap: break-word;
}

a {
  color: #474cd1;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #3d408f;
  border-bottom: 1px solid;
}

a:visited {
  color: #661fad;
}

a.img {
  color: #ccc;
  text-decoration: none;
  border-bottom: none;
}

a.external {
  background: url(../media/link_external.png) right center no-repeat;
  padding-right: 12px;
}

a.mailto {
  background: url(../media/link_mailto.png) right center no-repeat;
  padding-right: 12px;
}

#header a {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: .8em;
}

#navigation {
  font-size: 1em;
  margin: 0;
  position: absolute;
  top: 0;
  right: .5em;
  letter-spacing: .25em;
}

#navigation a {
  color: #000;
  opacity: .2;
}

#navigation a:hover {
  opacity: .75;
  text-decoration: none;
  border-bottom: none;
}

#navigation a.toc.error {
  color: #f00;
  cursor: not-allowed;
}

#toc {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  background: #fff;
  box-shadow: 0 0 1.5em #559;
  font-size: .75em;
  width: 40%;
  min-width: 20em;
  height: 90%;
  height: calc(100% - 4em);
  padding: .5em;
  z-index: 2147483647
}

#toc.open {
  display: block;
}

#toc input {
  color: #559;
  height: 2em;
  width: 100%;
  padding-left: 25px;
  background: white url(../media/search.png) 8px 6px no-repeat;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
}

#toc input:focus {
  outline: 0;
  border-color: #66b1ee;
  -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

#toc ul.main {
  overflow-x: auto;
  overflow-y: scroll;
  height: 90%;
  height: calc(100% - 2em);
  position: relative;
}

#toc ul {
  list-style: none;
  text-align: left;
}

#toc li.hidden {
  display: none;
}

#toc li.hidden.visible-child {
  display: list-item;
}

#toc li.hidden.visible-child>.page {
  color: #999
}

#toc .page {
  padding: 0 .5em;
}

#toc li.selected>a {
  background-color: #def;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: .5em 0 .75em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  margin: .5em 0 .75em;
  text-align: center;
}

h3 {
  font-weight: bold;
  margin: 1em 0 -0.5em;
}

a.anchor {
  position: absolute;
  left: .75em;
  padding-right: .5em;
  font-size: .9em;
  vertical-align: middle;
  opacity: .2;
  color: inherit;
  visibility: hidden;
}

p a.anchor {
  opacity: .1;
}

a.anchor:after {
  content: '¶';
}

a.anchor:hover {
  opacity: .4;
}

a.anchor:hover,
div:hover>a.anchor,
h3:hover>a.anchor,
p:hover>a.anchor {
  visibility: visible;
}

div {
  margin: 1em 0;
}

ul, ol {
  margin: .5em 0;
  padding-left: 1em;
  text-align: justify;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol ol,
ol ul,
ul ul,
ul ol {
  margin: 0;
}

p {
  margin: .75em 0 .5em;
  text-align: justify;
}

p.note {
  font-size: .85em;
  padding: .5em;
  margin: -.25em;
  background: #f5f5ff;
  border: 1px solid #ddf;
  color: #556;
}

.img-wrapper {
  margin-top: 0.5em;
  text-align: center;
}

img, video {
  max-width: 100%;
  height: auto;
}

img.framed {
  border: 1px solid #ccf;
}

img.framed.anim {
  border: 2px dotted #ccf;
}

table {
  font-size: .8em;
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table th {
  border: 1px solid black;
  border-bottom: 2px solid black;
  background: #eef;
  padding: .5em;
  font-weight: bold;
}

table td {
  border: 1px solid black;
  padding: .5em;
  text-align: center;
}

dl {
}

dt {
  margin-top: 1em;
  font-weight: bold;
}

dd {
  margin-left: 2em;
  margin-top: .25em;
}

kbd {
  background-color: #f9f9f9;
  background-image: linear-gradient(180deg, #eee, #f9f9f9, #eee);
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  -webkit-box-shadow: 0.1em 0.2em 0.2em #ddd;
  font-family: inherit;
  font-size: 0.85em;
  padding: 0.1em 0.3em;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

code.block {
  display: block;
  margin-left: 3em;
  margin-right: 3em;
  background-color: #eee;
  padding: .5em;
  text-align: left;
}

.next-page {
  font-style: italic;
  margin-top: 2em;
  text-align: center;
}

#repo-link {
  font-size: .75em;
  margin: 0;
  text-align: right;
}

#repo-link a {
  opacity: .5;
}

#repo-link a:hover {
  opacity: 1;
  text-decoration: none;
  border-bottom: none;
}

#repo-link span {
  background: url(../media/repo.png);
  display: inline-block;
  height: 20px;
  width: 15px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 2px;
  opacity: .5;
}

#share {
  text-align: right;
  overflow: hidden;
  margin-top: .5em;
  padding-top: .5em;
  border-top: 1px dotted #99f;
}

#share a:hover {
  text-decoration: none;
  border-bottom: none;
}

#share span {
  background: url(../media/social_sprites.png);
  display: inline-block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  vertical-align: middle;
  margin: 5px 0;
}

#share .facebook {
  background-position: -48px -48px;
}

#share .twitter {
  background-position: 0 -48px;
}

#share .gplus {
  background-position: -96px -48px;
}

#share .linkedin {
  background-position: -144px -48px;
}

#share .tumblr {
  background-position: -288px -48px;
}

#share .reddit {
  background-position: -336px -48px;
}

#share .email {
  background-position: -432px -48px;
}

.draft {
  border-left: 1px dotted #555;
  border-right: 1px dotted #555;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.tocheck:before {
  content: '*';
  color: #900;
}
